<section class="home d-flex" id="home">

  <!--Start Background Image-->
  <div class="mono-background">
    <div class="mono-background-inner" data-aos-duration="1200" data-aos-delay="450" data-aos="fade-left">
      <img src="assets/images/background_pattern_light.png" width="1405" height="937" class="img-align-center" alt="Background pattern">
    </div>
  </div>
  <!--End Background Image-->

  <div class="container introduction text-left" >
    <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a <span class="welcome-text-type" data-options="Angular developer, Developer Python, SQL" ></span></p>
    <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
      <div class="heading-zone">
        <h1>KOUAME KOUAKOU JEAN RAPHAEL TRINITE</h1>
        <img src="assets/images/WhatsApp Image 2026-03-06 at 3.52.24 AM.jpeg" alt="KOUAME KOUAKOU JEAN RAPHAEL TRINITE" class="intro-profile-image">
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
      <a href="#about" class="btn  btn-primary btn-small">Discover me in under a minute</a>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#about" class="scroll-down-link text-center hoveroff">
      <div class="scroll-title">Scroll Down</div>
      <div class="scroll-mouse">
        <div class="whell"></div>
      </div>
    </a>
  </div>
</section>
