<section class="about" id="about">
  <div class="container d-flex justify-content-between flex-column h-100">
    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              Who Am I
              <span class="heading_background">About Me</span>
            </h2>
            <p class="m-0">Get to know me</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content flex-grow-1">
      <div class="row align-items-center">
        <div class="col-md-8 mt-5 mt-md-0">
          <h3 class="m-0">I'm KOUAME KOUAKOU JEAN RAPHAEL TRINITE</h3>
          <p class="my-4">Curious, autonomous, and driven by bug fixing, I enjoy turning ideas into real projects. Always improving, I keep learning continuously to grow my technical expertise and impact.</p>
          <div class="row">
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Full Name:</span>
                <span>KOUAME KOUAKOU JEAN RAPHAEL TRINITE</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Age:</span>
                <span>20 years old</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Experience:</span>
                <span>3 years</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Email:</span>
                <span>kouamejeantrinite@gmail.com</span>
              </div>
            </div>
          </div>
          <div class="button_and_social my-4">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-6">
                <a href="#" class="btn btn-outline-primary btn-lg">Download CV</a>
              </div>
              <div class="col-xl-6">
                <ul class="social-icons list-inline mt-4 mt-xl-0">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/rapha%C3%ABl-kouam%C3%A9-1322b7396?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/Ralph18-max" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
